:root {
  --verde-escuro: rgb(3, 107, 82);
  --verde-claro: rgb(47, 193, 140);
  --roxo-escuro: rgb(65, 25, 127);
  --roxo-claro: rgb(137, 88, 163);
  --azul-claro: rgb(0, 213, 226);
  --azul-escuro: rgb(0, 109, 251);
  --cinza-claro: rgb(225, 229, 235);
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  --cinza3: rgb(30, 31, 36);
  --cinza4: rgb(26, 27, 28);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cinza-claro);
}

.header {
  display: flex;
  background-color: var(--verde-escuro);
  color: rgb(255, 255, 255);
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.form-pesquisa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.select-uf {
  display: flex;
  align-items: center;
  padding: 10px;
}

.select-partido {
  display: flex;
  align-items: center;
  padding: 10px;
}
.btn-filter {
  padding: 20px;
}

#filtrar {
  width: 120px;
}

.main-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: var(--cinza-claro);
  color: var(--cinza1);
}

.top-3-mais,
.top-3-menos {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 600px;
}

.top-3-mais div,
.top-3-menos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-card{
  border: solid 1px var(--verde-escuro);
  border-radius: 10px;
  width: 215px;
  padding: 15px;
}

.img-circle {
  height: 90px;
  width: 80px;
  border-radius: 10px ;
}

h2 {
  margin: 10px;
}

h3 {
  text-align: center;
}